<h2>Student Engagement</h2>
<p>Initial 2-3 minutes observe the students alone, scanning through every child and every bench to see what they are doing.What are the the pre-dominant student actions/habits in the classroom? Make note of it and fill in the following -</p>
<h3>Collectively the students were expected to</h3>
<p>Select an option that best describes the tasks/activity student were expected to do during the duration of observation</p>
<label><input type="radio" ng-model="task" value="" />actively participate(through guided Q & A or other activity) to solve/understand a concept</label></br>
<label><input type="radio" ng-model="task" value="" />copy and complete notes OR reading aloud / repeating in chorus</label></br>
<label><input type="radio" ng-model="task" value="" />sit silently/idle (with or without teacher) OR passive participation</label></br>
<label><input type="radio" ng-model="task" value="" />unclear expectations</label></br>
<label><input type="radio" ng-model="task" value="other" />Others<input type="text" ng-model="" class="margin10"></label></br></br>
<h3>Students were engaged in content that was</h3> 
<label><input type="radio" ng-model="" value="" />Challenging tasks involving learning materials for group or peer learning</label></br>
<label><input type="radio" ng-model="" value="" />Some form of new material, posters, video or discussion to engage in textbook content</label></br>
<label><input type="radio" ng-model="" value="" />Direct textbook exercise(back of lesson) involving rote learning</label></br>
<label><input type="radio" ng-model="" value="" /> Unclear OR no teaching/learning</label></br>
<label><input type="radio" ng-model="" value="other" />Others<input type="text" ng-model="" class="margin10"></label></br></br>
<h3>The level of student learning can be described as</h3>
<div>select if atleast 75% of the class displayed the characteristics that could have led to</div>
<label><input type="radio" ng-model="" value="" />Significant learning, EVERY child is joyful and learning something meaningful</label></br>
<label><input type="radio" ng-model="" value="" />Basic learning - Are interested and hard-working (dynamic learning guided by the teacher, eg some activity or quiz)</label></br>
<label><input type="radio" ng-model="" value="" />Limited learning - Are on task (as expected by teacher, but passively, for eg just copying notes)</label></br>
<label><input type="radio" ng-model="" value="" />No learning - Are apathetic to teacher instructions and unruly/disruptive throughout</label></br>
<label><input type="radio" ng-model="task" value="other" />Others<input type="text" ng-model="" class="margin10"></label></br></br>
<h3>Do you feel the above descriptors give are a fair representation of the student engagement observed in class?</h3>