<h2>Teacher Actions</h2>
<p>After observing for 7-10 minutes(or even as you observe), from the list given below, select based on all that was observed in this teacher's class. This should help us highlight the teacher's planning and preparation</p>
<h3>There was some evidence of an order or flow in the lesson (eg. I do-We do-You do process)</h3>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unclear</label></br>
<h3>There is evidence of effective usage of time</h3>
<p>(effective procedures for passing papers/notes, reminders and clear instructions from teacher, explicit mention of time etc)</p>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unsure</label></br>
<h3>There is evidence of ineffective usage of time (a minute or more of 'nothing' happening')</h3>
<p>(could be ineffective transitions/lack of procedures/ unclear instructions from teacher etc)</p>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unsure</label></br>
<h3>The teacher used a positive/assertive tone while addressing student misbehavior or in general</h3>
<p>(any instance in the observed duration)</p>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unsure</label></br>
<h3>The teacher used a rude/immature/angry tone while addressing student misbehavior or in general</h3>
<p>(any instance in the observed duration)</p>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unsure</label></br>
<h3>Teacher adopts effective child friendly strategies to address student misbehavior / classroom disruption</h3>
<p>(uses a friendly yet assertive tone/ tries attention grabbers other than banging the duster/ reinforces instructions instead of rhetoric questions etc)</p>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unsure</label></br>
<h3>Overall the teacher seemed well planned</h3>
<p>(for the observed duration)</p>
<label><input type="radio" ng-model="" value=" " />Yes</label></br>
<label><input type="radio" ng-model="" value=" " />No</label></br>
<label><input type="radio" ng-model="" value=" " />Unsure</label></br>
<h3>Do you feel the above descriptors give are a fair representation of the teachers actions for the observed duration in class?</h3>
