<h2>Sample Classroom Observation v2.1 - STEP 2014</h2>
<form>
<div>
<div>School</div></br>
<label><input type="radio" ng-model="school" value="SARA's - Koramangala" />SARA's - Koramangala</label></br>
<label><input type="radio" ng-model="school" value="SARA's Vinayak Nagar" />SARA's Vinayak Nagar</label></br>
<label><input type="radio" ng-model="school" value="RK School Vinayak Nagar" />RK School Vinayak Nagar</label></br>
<label><input type="radio" ng-model="school" value="Government School" />Government School</label></br>
<label><input type="radio" ng-model="school" value="other" />Others<input type="text" ng-model="input" class="margin10"></label></br></br>
<div>Class</div></br>
<label><select ng-model="class">
  <option value="LKG">LKG</option>
  <option value="UKG">UKG</option>
  <option value="one">1</option>
   <option value="two">2</option>
   <option value="three">3</option>
   <option value="four">4</option> 
   <option value="five">5</option> 
   <option value="six">6</option>
   <option value="seven">7</option>
    <option value="eight">8</option>
</select>
</label></br></br>
<div>Students Present</div></br>
<input type="text" ng-model="studentPresent"></br></br>
<div>Subject/Lesson</div></br>
<label><input type="radio" ng-model="subject" value="English" />English</label></br>
<label><input type="radio" ng-model="subject" value="Mathematics" />Mathematics</label></br>
<label><input type="radio" ng-model="subject" value="Science or Social" />Science or Social</label></br>
<label><input type="radio" ng-model="subject" value="Others" />Others</label>
<div>Was the above info(subject and lesson topic) displayed on black-board?</div>
<label><input type="radio" ng-model="info" value="Yes" />Yes</label></br>
<label><input type="radio" ng-model="info" value="No" />No</label></br>
<div>Teacher Name/Ref</div>
<input type="text" ng-model="Teacher"></br></br>
<div>Which of the following slots during class period(of 40 minutes) are you observing? </div>
<label><input type="radio" ng-model="slot" value="Full lesson observation" />Full lesson observation</label></br>
<label><input type="radio" ng-model="slot" value="First 10 minutes of class" />First 10 minutes of class</label></br>
<label><input type="radio" ng-model="slot" value="Last 10 minutes of class" />Last 10 minutes of class</label></br>
<label><input type="radio" ng-model="slot" value="Half-way(15-20 minutes after class start)" />Half-way(15-20 minutes after class start)</label></br>
<div>Time of observation</div>
<label><input type="radio" ng-model="time" value="Pre-lunch session" />Pre-lunch session</label></br>
<label><input type="radio" ng-model="time" value=" Post-lunch session" />Post-lunch session</label></br>
<div>Observed by</div>
<label><input type="radio" ng-model="observer" value="Medha" /></label>Medha</br>
<label><input type="radio" ng-model="observer" value="Santosh" /></label>Santosh</br>
<label><input type="radio" ng-model="observer" value="Anoop" /></label>Anoop</br>
<label><input type="radio" ng-model="observer" value="other" />Others<input type="text" ng-model="input2" class="margin10"></label></br></br>
</div>
</form>
