<ng-include src="'templates/header.html'"></ng-include>

<div class="starter-template container">
<div class="row">
          <div class="col-lg-8 col-lg-offset-3">
        <h1>Mantra for Change</h1>
        <p class="lead">Mantra Social services is an NGO committed to work towards improving the quality of education in schools. This app is an effort towards building a robust and effective system for teachers' professional development. We believe that this solution would be able to provide a data driven approach towards leadership development in schools.</p>
      </div>
	  </div>
	  </div>
