<div class="container" >
<div class="row">
          <div class="col-lg-8 col-lg-offset-3">
          
        
            <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-3 bs-wizard-step"  ng-class="{'complete' : step.switched == 'step2' || step.switched == 'step3', 'active' : step.switched == 'step1'  }">
				
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
				 
                 <a href="" class="bs-wizard-dot"></a> 
                  <div class="bs-wizard-info text-center">Question Set -1</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step" ng-class="{'complete' : step.switched == 'step3'  }"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
				  
                <a href="" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Question Set -2</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step" ><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
				 
                  <a href="" class="bs-wizard-dot"></a> 
                  <div class="bs-wizard-info text-center">Question Set -3</div>
                </div>
              
            </div>

</div>
          </div>
    </div>

<div ng-switch on= "step.switched">
		<div ng-switch-when="step1" >
			<ng-include src="'templates/step1.html'"></ng-include>
		
		</div>
		
		<div ng-switch-when="step2">
			<ng-include src="'templates/step2.html'"></ng-include>
		
		</div>
		
		<div ng-switch-when="step3">
			<ng-include src="'templates/step3.html'"></ng-include>
			
		</div>
	</div>
</div>