<div class="container">
 
<div  class="row">
	<div class="col-lg-8 col-lg-offset-2 well bs-component">
<form class="form-horizontal" name="formStep1.form">
<fieldset>
                  <legend>Sample Classroom Observation v2.1 - STEP 2014</legend>
                 <div class="form-group">
                    <label class="col-lg-3 control-label">School</label>
                    <div class="col-lg-9">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios"  value="option1" ng-model="classroom.school" ng-required="!classroom.school" >
                          SARA's - Koramangala
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios"  value="option2" ng-model="classroom.school" ng-required="!classroom.school">
                         SARA's Vinayak Nagar
                        </label>
                      </div>
					   <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios"  value="option3" ng-model="classroom.school" ng-required="!classroom.school">
                         RK School Vinayak Nagar
                        </label>
                      </div>
					   <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios"  value="option4" ng-model="classroom.school" ng-required="!classroom.school">
                         Government School
                        </label>
                      </div>
					  <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios"  value="option5" ng-model="classroom.school" ng-required="!classroom.school">
                         Others
                        </label>
						   <input type="text" ng-model="classroom.otherSchool" class="margin10 input-sm" ng-show="classroom.school=='option5'">
                      </div>
				
					  <span class="label label-danger" ng-show="formStep1.form.optionsRadios.$error.required && require">This is a mandatory field</span> 
                    </div>
                  </div>
                </fieldset>

<fieldset>
<div class="form-group">
  <label class="col-sm-3 control-label">Class</label>
  <div class="col-lg-3">
    <select ng-model="classroom.number" class="form-control input-sm">
      <option value="LKG">LKG</option>
      <option value="UKG">UKG</option>
      <option value="one">1</option>
      <option value="two">2</option>
      <option value="three">3</option>
      <option value="four">4</option> 
      <option value="five">5</option> 
      <option value="six">6</option>
      <option value="seven">7</option>
      <option value="eight">8</option>
    </select>
	
  </div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
  <label class="col-sm-3 control-label">Students Present</label>
  <div class="col-sm-3">
  <input type="text" class="form-control input-sm" name="textStudentPresent" ng-model="classroom.studentPresent" ng-required="isRequired">
  <span class="label label-danger" ng-show="formStep1.form.textStudentPresent.$error.required && require">This is a mandatory field</span>
  </div>
</div>
</fieldset>
<fieldset>
<div class="form-group">
<label class="col-sm-3 control-label">Subject/Lesson</label>
  <div class="col-lg-9">
  
    <div class="radio">
          <label>
          <input type="radio" name="optionssubject" ng-model="classroom.subject" value="English" ng-required="!classroom.subject && require" /> English
          </label>
    </div>      
  


  
    <div class="radio">
          <label>
          <input type="radio" name="optionssubject"  ng-model="classroom.subject" value="Mathematics" ng-required="!classroom.subject && require" /> Mathematics
          </label>
    </div>      


   
    <div class="radio">
          <label>
          <input type="radio" name="optionssubject" ng-model="classroom.subject" value="Science or Social" ng-required="!classroom.subject && require" /> Science or Social
          </label>
    </div>      


  
    <div class="radio">
          <label>
         <input type="radio" name="optionssubject" ng-model="classroom.subject" value="Others" ng-required="!classroom.subject" />Others
          </label>
		<input type="text" ng-model="classroom.othersubject" class="margin10 input-sm" ng-show="classroom.subject=='Others'">
    </div>
<span class="label label-danger" ng-show="formStep1.form.optionssubject.$error.required && require">This is a mandatory field</span> 	
</div>

</div>
</fieldset>
<fieldset>
<label class="col-sm-12">Was the above info(subject and lesson topic) displayed on black-board</label>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
     <label><input type="radio" name="optionsinfo" ng-model="classroom.info" value="Yes" ng-required="!classroom.info" />Yes</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
     <label><input type="radio" name="optionsinfo" ng-model="classroom.info" value="No" ng-required="!classroom.info" />No</label>
    </div>
	 <span class="label label-danger" ng-show="formStep1.form.optionsinfo.$error.required && require">This is a mandatory field</span> 
  </div>
 
</div>
</fieldset>
<fieldset>
<div class="form-group">
<div class="row">
  <label class="col-sm-3 control-label">Teacher Name/Reft</label>
  <div class="col-sm-3">
  <input type="text" name="textTeacher" class="form-control  input-sm" ng-model="classroom.Teacher" ng-required="isRequired">
  <span class="label label-danger" ng-show="formStep1.form.textTeacher.$error.required && require">This is a mandatory field</span>
  </div>
  </div>
</div>
</fieldset>
<fieldset>
 <label class="col-sm-12 ">Which of the following slots during class period(of 40 minutes) are you observing? </label>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionsslot" ng-model="classroom.slot" value="Full lesson observation" ng-required="!classroom.slot" />Full lesson observation</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionsslot" ng-model="classroom.slot" value="First 10 minutes of class" ng-required="!classroom.slot" />First 10 minutes of class</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionsslot" ng-model="classroom.slot" value="Last 10 minutes of class" ng-required="!classroom.slot" />Last 10 minutes of class</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionsslot" ng-model="classroom.slot" value="Half-way(15-20 minutes after class start)" ng-required="!classroom.slot" />Half-way(15-20 minutes after class start)</label>
  </div>
  <span class="label label-danger" ng-show="formStep1.form.optionsslot.$error.required && require">This is a mandatory field</span> 
</div>

</div>
</fieldset>
<fieldset>
<div class="form-group">
<label class="col-sm-3 control-label">Time of observation</label>

  <div class="col-sm-9">
   <div class="radio">
    <label><input type="radio" name="optionstime" ng-model="classroom.time" value="Pre-lunch session" ng-required="!classroom.time" />Pre-lunch session</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionstime"  ng-model="classroom.time" value=" Post-lunch session" ng-required="!classroom.time" />Post-lunch session</label>
    </div>
	  <span class="label label-danger" ng-show="formStep1.form.optionstime.$error.required && require">This is a mandatory field</span>
  </div>

</div>
</fieldset>
<fieldset>
<div class="form-group">
<label class="col-sm-3 control-label">Observed by</label>

  <div class="col-sm-9">
   <div class="radio">
    <label><input type="radio" name="optionsobserver" ng-model="classroom.observer" value="Medha" ng-required="!classroom.observer" />Medha</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionsobserver" ng-model="classroom.observer" value="Santosh" ng-required="!classroom.observer" />Santosh</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-10">
   <div class="radio">
    <label><input type="radio" name="optionsobserver" ng-model="classroom.observer" value="Anoop" ng-required="!classroom.observer" />Anoop</label>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-2">
    <div class="radio">
        <label><input type="radio" name="optionsobserver" ng-model="classroom.observer" value="other" ng-required="!classroom.observer" />Others</label>
		 <span class="label label-danger" ng-show="formStep1.form.optionsobserver.$error.required && require">This is a mandatory field</span>
       <input type="text" ng-model="classroom.otherobserver" class="margin10 input-sm" ng-show="classroom.observer=='other'">
    </div>
  </div>

  <div class="form-group">
	
    <div class="col-lg-1 col-lg-offset-10">
	
       <button type="button" ng-click="stepTwo()" class="col-sm-offset-2 btn btn-info">Next</button>
	   
    </div>
  </div>
 

</div>
</fieldset>
</div>
</form>
</div>
</div>
</div>
