<div class="container">
 
<div  class="row">
	<div class="col-lg-8 col-lg-offset-2 well bs-component">
<form class="form-horizontal" name="formStep2.form">
<fieldset>
    <legend>Student Engagement
	<p>Initial 2-3 minutes observe the students alone, scanning through every child and every bench to see what they are doing.What are the the pre-dominant student actions/habits in the classroom? Make note of it and fill in the following -</p>
	 </legend>

                 <div class="form-group">
                    <label class="col-lg-6">Collectively the students were expected to</label>
				<label class="col-lg-12">Select an option that best describes the tasks/activity student were expected to do during the duration of observation
					</label>
                    <div class="col-lg-9">
                    <div class="radio">
					<label><input type="radio" name="optionsTask" ng-model="classroom.task" value="participate" ng-required="!classroom.task" />actively participate(through guided Q & A or other activity) to solve/understand a concept</label>
					</div>
					 <div class="radio">
					<label><input type="radio" name="optionsTask" ng-model="classroom.task" value="complete" ng-required="!classroom.task" />copy and complete notes OR reading aloud / repeating in chorus</label>
					</div>
					 <div class="radio">
					<label><input type="radio" name="optionsTask" ng-model="classroom.task" value="idle" ng-required="!classroom.task" />sit silently/idle (with or without teacher) OR passive participation</label>
					</div>
					 <div class="radio">
					<label><input type="radio" name="optionsTask" ng-model="classroom.task" value="unclear" ng-required="!classroom.task" />unclear expectations</label></div>
					 <div class="radio">
					<label><input type="radio" name="optionsTask" ng-model="classroom.task" value="other" ng-required="!classroom.task" />Others</label>
					<input type="text" ng-model="classroom.othertask" class="margin10 input-sm" ng-show="classroom.task=='other'">
					
					</div>
					<span class="label label-danger" ng-show="formStep2.form.optionsTask.$error.required && require2">Required field</span>
                     </div>
					 </div>
					<div class="form-group">
					 <label class="col-lg-6">Students were engaged in content that was</label>
					<div class="col-lg-9">
					 <div class="radio">
					 <label><input type="radio" name="optionsEngaged" ng-model="classroom.engaged" value="Challenging" ng-required="!classroom.engaged" />Challenging tasks involving learning materials for group or peer learning</label>
					</div> 
					 <div class="radio">
					 <label><input type="radio" name="optionsEngaged" ng-model="classroom.engaged" value="new" ng-required="!classroom.engaged" />Some form of new material, posters, video or discussion to engage in textbook content</label>
					 </div> 
					 <div class="radio">
					 <label><input type="radio" name="optionsEngaged" ng-model="classroom.engaged" value="textbook" ng-required="!classroom.engaged" />Direct textbook exercise(back of lesson) involving rote learning</label>
					 </div> 
					 <div class="radio">
					 <label><input type="radio" name="optionsEngaged" ng-model="classroom.engaged" value="Unclear" ng-required="!classroom.engaged" /> Unclear OR no teaching/learning</label></br>
					 </div> 
					 <div class="radio">
					 <label><input type="radio" name="optionsEngaged" ng-model="classroom.engaged" value="other" ng-required="!classroom.engaged" />Others</label>
					 <input type="text" ng-model="classroom.otherengaged" class="margin10 input-sm" ng-show="classroom.engaged=='other'">
						</div>
					 <span class="label label-danger" ng-show="formStep2.form.optionsEngaged.$error.required && require2">Required field</span>
					</div>
					</div>
					<div class="form-group">
					 <label class="col-lg-6">The level of student learning can be described as</label>
					 <label class="col-lg-9">select if atleast 75% of the class displayed the characteristics that could have led to</label>
					<div class="col-lg-9">
					<div class="radio">
					<label><input type="radio" name="optionsLearning" ng-model="classroom.learning" value="Significant" ng-required="!classroom.learning" />Significant learning, EVERY child is joyful and learning something meaningful</label>
					</div>
					<div class="radio">
					<label><input type="radio" name="optionsLearning" ng-model="classroom.learning" value="Basic" ng-required="!classroom.learning" />Basic learning - Are interested and hard-working (dynamic learning guided by the teacher, eg some activity or quiz)</label>
					</div>
					<div class="radio">
					<label><input type="radio" name="optionsLearning" ng-model="classroom.learning" value="Limited" ng-required="!classroom.learning" />Limited learning - Are on task (as expected by teacher, but passively, for eg just copying notes)</label>
					</div>
					<div class="radio">
					<label><input type="radio" name="optionsLearning" ng-model="classroom.learning" value="No" ng-required="!classroom.learning"/>No learning - Are apathetic to teacher instructions and unruly/disruptive throughout</label>
					</div>
					<div class="radio">
					<label><input type="radio" name="optionsLearning" ng-model="classroom.learning" value="other" ng-required="!classroom.learning" />Others</label>
					<input type="text" ng-model="classroom.otherlearning" class="margin10 input-sm" ng-show="classroom.learning=='other'">
					
					</div>
		<span class="label label-danger" ng-show="formStep2.form.optionsLearning.$error.required && require2">Required field</span>
					</div>
 <div class="form-group">
<label class="col-lg-12">Do you feel the above descriptors give are a fair representation of the student engagement observed in class?</label>
     
      <div class="col-lg-9">
                    <div class="radio">
					<label><input type="radio" name="studentEngagement" ng-model="classroom.studentEngagement" value="1" ng-required="!classroom.studentEngagement" />1 - Strongly Disagree</label>
					</div>
					  <div class="radio">
					<label><input type="radio" name="studentEngagement" ng-model="classroom.studentEngagement" value="2" ng-required="!classroom.studentEngagement" />2</label>
					</div>
            <div class="radio">
					<label><input type="radio" name="studentEngagement" ng-model="classroom.studentEngagement" value="3" ng-required="!classroom.studentEngagement" />3</label>
					</div>
            <div class="radio">
					<label><input type="radio" name="studentEngagement" ng-model="classroom.studentEngagement" value="4" ng-required="!classroom.studentEngagement" />4</label>
					</div>
            <div class="radio">
					<label><input type="radio" name="studentEngagement" ng-model="classroom.studentEngagement" value="5" ng-required="!classroom.studentEngagement" />5  - Strongly Agree</label>
					</div>
					<span class="label label-danger" ng-show="formStep2.form.studentEngagement.$error.required && require2">Required field</span>
                     </div>
                        </div>

  <div class="form-group">
  <div class="col-lg-1 col-sm-1">
	
       <button type="button" ng-click="stepOne()" class="col-sm-offset-2 btn btn-info">Previous</button>
	   
    </div>
    <div class="col-lg-1 col-lg-offset-8 col-xs-1 col-xs-offset-8">
       	<button type="button" ng-click="stepThree()" class="col-sm-offset-2 btn btn-info">Next</button>
    </div>
  </div>

</fieldset>
</form>
</div>
</div>
</div>