
<div class="container">
 
<div  class="row">
	<div class="col-lg-8 col-lg-offset-2 well bs-component">
<form class="form-horizontal" name="formStep3.form">
	<fieldset>
<legend>Teacher Actions</legend>
<legend>After observing for 7-10 minutes(or even as you observe), from the list given below, select based on all that was observed in this teacher's class. This should help us highlight the teacher's planning and preparation</legend>
<div class="form-group">
<label class="col-lg-9">There was some evidence of an order or flow in the lesson (eg. I do-We do-You do process)</label>
 <div class="col-lg-9">
 <div class="radio">
<label><input type="radio"  name="optionsOrder" ng-model="classroom.order" value="Yes" ng-required="!classroom.order" />Yes</label></div>
 <div class="radio">
<label><input type="radio" name="optionsOrder" ng-model="classroom.order" value="No" ng-required="!classroom.order"/>No</label></div>
 <div class="radio">
<label><input type="radio" name="optionsOrder"  ng-model="classroom.order" value="Unclear" ng-required="!classroom.order" />Unclear</label>
 
</div>
<span class="label label-danger" ng-show="formStep3.form.optionsOrder.$error.required && require3">Required field</span>
</div>
</div>
<div class="form-group">
<label class="col-lg-6">There is evidence of effective usage of time</label>
<label class="col-lg-10">(effective procedures for passing papers/notes, reminders and clear instructions from teacher, explicit mention of time etc)</label>
  <div class="col-lg-9">
 <div class="radio">
<label><input type="radio" name="optionsEffectiveTime" ng-model="classroom.effectiveTime" value="Yes" ng-required="!classroom.effectiveTime"  />Yes</label></div>
 <div class="radio">
<label><input type="radio" name="optionsEffectiveTime" ng-model="classroom.effectiveTime" value="No" ng-required="!classroom.effectiveTime" />No</label></div>
 <div class="radio">
<label><input type="radio" name="optionsEffectiveTime" ng-model="classroom.effectiveTime" value="Unsure" ng-required="!classroom.effectiveTime"/> Unsure</label>

</div>
<span class="label label-danger" ng-show="formStep3.form.optionsEffectiveTime.$error.required && require3">Required field</span> 
</div>
</div>
<div class="form-group">
<label class="col-lg-8">There is evidence of ineffective usage of time (a minute or more of 'nothing' happening')</label>
<label class="col-lg-10">(could be ineffective transitions/lack of procedures/ unclear instructions from teacher etc)</label>
 <div class="col-lg-9">
 <div class="radio">
<label><input type="radio" name="optionsIneffectiveTime" ng-model="classroom.ineffectiveTime" value="Yes" ng-required="!classroom.ineffectiveTime" />Yes</label></div>
<div class="radio">
<label><input type="radio" name="optionsIneffectiveTime" ng-model="classroom.ineffectiveTime" value="No" ng-required="!classroom.ineffectiveTime" />No</label></div>
<div class="radio">
<label><input type="radio" name="optionsIneffectiveTime" ng-model="classroom.ineffectiveTime" value="Unsure" ng-required="!classroom.ineffectiveTime" />Unsure</label>

</div>
<span class="label label-danger" ng-show="formStep3.form.optionsIneffectiveTime.$error.required && require3">Required field</span> 
</div>
</div>


<div class="form-group">
<label class="col-lg-8">The teacher used a positive/assertive tone while addressing student misbehavior or in general</label>
<label class="col-lg-10">(any instance in the observed duration)</label>
 <div class="col-lg-9">
 <div class="radio">
<label><input type="radio" name="optionsPositiveTone" ng-model="classroom.positiveTone" value="Yes" ng-required="!classroom.positiveTone" />Yes</label></div>
<div class="radio">
<label><input type="radio" name="optionsPositiveTone" ng-model="classroom.positiveTone" value="No" ng-required="!classroom.positiveTone" />No</label></div>
<div class="radio">
<label><input type="radio" name="optionsPositiveTone" ng-model="classroom.positiveTone" value="Unsure" ng-required="!classroom.positiveTone" />Unsure</label>

</div>
<span class="label label-danger" ng-show="formStep3.form.optionsPositiveTone.$error.required && require3">Required field</span>
</div>
</div>

<div class="form-group">
<label class="col-lg-8">The teacher used a rude/immature/angry tone while addressing student misbehavior or in general</label>
<label class="col-lg-10">(any instance in the observed duration)</label>
 <div class="col-lg-9">
 <div class="radio">
<label><input type="radio" name="optionsNegativeTone" ng-model="classroom.negativeTone" value="Yes" ng-required="!classroom.negativeTone" />Yes</label></div>
<div class="radio">
<label><input type="radio" name="optionsNegativeTone" ng-model="classroom.negativeTone" value="No" ng-required="!classroom.negativeTone" />No</label></div>
<div class="radio">
<label><input type="radio" name="optionsNegativeTone" ng-model="classroom.negativeTone" value="Unsure" ng-required="!classroom.negativeTone" />Unsure</label>

</div>
<span class="label label-danger" ng-show="formStep3.form.optionsNegativeTone.$error.required && require3">Required field</span>
</div>
</div>

<div class="form-group">
<label class="col-lg-9">Teacher adopts effective child friendly strategies to address student misbehavior / classroom disruption</label>
<label class="col-lg-10">(uses a friendly yet assertive tone/ tries attention grabbers other than banging the duster/ reinforces instructions instead of rhetoric questions etc)</label>
 <div class="col-lg-9">
 <div class="radio">
<label><input type="radio" name="optionsfriendlyTone" ng-model="classroom.friendlyTone" value="Yes" ng-required="!classroom.friendlyTone" />Yes</label></div>
<div class="radio">
<label><input type="radio" name="optionsfriendlyTone" ng-model="classroom.friendlyTone" value="No" ng-required="!classroom.friendlyTone" />No</label></div>
<div class="radio">
<label><input type="radio" name="optionsfriendlyTone" ng-model="classroom.friendlyTone" value="Unsure" ng-required="!classroom.friendlyTone" />Unsure</label>

</div>
<span class="label label-danger" ng-show="formStep3.form.optionsfriendlyTone.$error.required && require3">Required field</span>
</div>
</div>

<div class="form-group">
<label class="col-lg-8">Overall the teacher seemed well planned</label>
<label class="col-lg-10">((for the observed duration)</label>
 <div class="col-lg-9">
 <div class="radio">
<label><input type="radio" name="OverallPlan" ng-model="classroom.overallPlan" value="Yes" ng-required="!classroom.overallPlan" />Yes</label></div>
<div class="radio">
<label><input type="radio" name="OverallPlan" ng-model="classroom.overallPlan" value="No" ng-required="!classroom.overallPlan" />No</label></div>
<div class="radio">
<label><input type="radio" name="OverallPlan" ng-model="classroom.overallPlan" value="Unsure" ng-required="!classroom.overallPlan" />Unsure</label>
<span class="label label-danger" ng-show="formStep3.form.OverallPlan.$error.required && require3">Required field</span>
</div>
</div>
</div>
<div class="form-group">
<label class="col-lg-12">Do you feel the above descriptors give are a fair representation of the teachers actions for the observed duration in class?</label>
        
    <div class="col-lg-9">
                    <div class="radio">
					<label><input type="radio" name="techerAction" ng-model="classroom.techerAction" value="1" ng-required="!classroom.techerAction" />1 - Strongly Disagree</label>
					</div>
        <div class="radio">
					<label><input type="radio" name="techerAction" ng-model="classroom.techerAction" value="2" ng-required="!classroom.techerAction" />2</label>
					</div>
        <div class="radio">
					<label><input type="radio" name="techerAction" ng-model="classroom.techerAction" value="3" ng-required="!classroom.techerAction" />3</label>
					</div>
        <div class="radio">
					<label><input type="radio" name="techerAction" ng-model="classroom.techerAction" value="4" ng-required="!classroom.techerAction" />4</label>
					</div>
        <div class="radio">
					<label><input type="radio" name="techerAction" ng-model="classroom.techerAction" value="5" ng-required="!classroom.techerAction" />1 - Strongly Agree</label>
					</div>
        
        </div>
    </div>
  <div class="form-group">
  <div class="col-lg-1 col-sm-1">
	
       <button type="button" ng-click="stepTwoPrev()" class="col-sm-offset-2 btn btn-info">Previous</button>
	   
    </div>
  
    <div class="col-lg-1 col-lg-offset-8 col-sm-1 col-sm-offset-8">
       	<button type="button" ng-click="saveData()" class="col-sm-offset-2 btn btn-info">Submit</button>
    </div>
  </div>
</fieldset>
</form>
</div>
</div>
</div>